mixin funcName(arg)
        div 
            //- a(href="/videos/" + arg.id) #{arg.title}
            h4
                a(href=`/videos/${arg.id}`)= arg.title
            p=arg.description
            ul
                each hashtag in arg.hashtags
                    li=hashtag
            small=arg.createdAt 
            hr